<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.dao.TypeInfoMapper" >

  <!-- 基本 ResultMap 定义 -->
  <resultMap id="BaseResultMap" type="com.yx.po.TypeInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>

  <!-- 基本列列表 SQL 片段定义 -->
  <sql id="Base_Column_List">
    id, name, remarks
  </sql>

  <!--查询全部类型信息-->
  <select id="queryTypeInfoAll" resultType="com.yx.po.TypeInfo">
    select * from type_info
    <where>
      <if test="name!=null">
        and name like '%${name}%'
      </if>
    </where>
  </select>

  <!--类型的添加-->
  <insert id="addTypeSubmit">
        insert into type_info (name,remarks)values(#{name},#{remarks})
    </insert>

  <!--根据id查询类型信息-->
  <select id="queryTypeInfoById" resultType="com.yx.po.TypeInfo">
        select * from type_info where id=#{id}
    </select>

  <!--修改图书类型-->
  <update id="updateTypeSubmit">
         update type_info set name=#{name},remarks=#{remarks} where id=#{id}
    </update>

  <!--删除类型-->
  <delete id="deleteTypeByIds" parameterType="List">
    delete from type_info where id in
    <foreach collection="list" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <select id="queryTypeName" resultType="com.yx.po.TypeInfo">
    select type.name
    from type_info type
  </select>

  <!-- 根据 ID 列表批量查询类型信息 -->
  <select id="queryTypeInfoByIds" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM type_info
    WHERE id IN
    <foreach item="item" index="index" collection="ids"
             open="(" separator="," close=")">
        #{item}
    </foreach>
  </select>

</mapper>